# Homework 2: SQL in Python (Data and Databases 2017)

The next four homework assignments will be in this iPython notebook format. Read the instructions as you go, and type in the necessary code--then run the cells to see if you got it right. Don't worry if you are new to python for this assignment--the only "code" you will be writing are SQL statements that you will paste into each myquery variable.

First things first: download this notebook from Github--

1. Make sure you are viewing this on Github
2. Ctrl+click (or right click) on the "Raw" button in the Github interface, and select "Save Link As..." or your browser's equivalent. Save it to your computer (not a remote for cloud drive), and make sure it is in the folder you will be able to find.
3. Also make sure that the file ends with ".ipynb", and name it something like "Homework2_Jon_Thirkield.ipynb" (But with your name.)
4. Open your Jupyter Notebook Application, and open up the file--you can begin your work.
5. When you're finished, email the completed file to Georgia and/or Jager (as appropriate)


## The Challenges

For this homework we will be using the tables we imported from the [UN data site](http://data.un.org/Explorer.aspx). You should already have `wind` and `solar` installed, and they should be in the SAME DATABASE (953 rows for solar, and 1367 rows for wind). As you will see, this homework asks that you find one more table of your choice from the UN's Energy statistics an import it into the the same database. [I have posted the instructions here](http://floatingmedia.com/columbia/csv_to_sql.html)

These are relatively simple CSV files--the only really important columns are `country`, `year` and `usage`. But the tricky part is that most countries have multiple entries: one for every year the UN has been gathering data on that country. So most of these queries are going to ask you to get electrical usage results based on country and year. (Major hint: JOINs are going to need to be based on country AND year.)

In the questions below, we focus on exploratory queries--with an emphasis on aggregates and joins. Read the questions carefully, and then write SQL statements that will get you the correct results. (You might want to explore tables and test out queries directly in the shell before you paste them into Python--the error handling for SQL in Python can be confusing, and there should be no errors in the prewritten Python parts of this document. Also, sometimes an error in Python will break your connection with the database--see conn.rollback() below for that solution.

First things first: Connect to database! 
(Make sure the cell is selected, then go to the cell menubar and choose "Run Cells")

In [ ]:
import pg8000
conn = pg8000.connect(user="Jon", database="unenengy")
#conn = pg8000.connect(database="undata")
print(type(conn))

If the connection isn't working make sure that you have typed in the name of the database correctly, and your username as well. 

If you get an error when running one of the SQL cells below, run this conn.rollback() cell to restart your connection.

In [ ]:
conn.rollback()

## Question 1: Simple(ish) Query 

Create a statement that searches for the top 15 countries for solar energy usage in 2014. So figure out first what table you are searching and what columns you need (you can figure out the columns by looking at the sample results below). Then you need to test by year so you only get results from 2014, and order it correctly.

```
Germany 36056.0 mil
United States 24603.0 mil
Japan 24506.0 mil
Italy 22306.0 mil
China 15189.0 mil
Spain 13673.0 mil
France 5909.0 mil
India 5020.0 mil
Australia 4858.0 mil
United Kingdom 4050.0 mil
Greece 3792.0 mil
Belgium 2883.0 mil
Korea, Republic of 2557.0 mil
Czechia 2123.0 mil
Canada 1756.0 mil
```

In [ ]:
cursor = conn.cursor()
myquery = "PUT YOUR QUERY HERE"
cursor.execute(myquery)
for row in cursor:
    print(row[0], row[1], "mil")

## Question 2: aggregate query

Using avg(), get the average solar energy usage for each country, and it display only the countries with an average that is above 500 (million). (Remember for aggregates you need to use HAVING to test values, instead of WHERE). Make sure it is properly ordered like the results below:

```
10376.5 China
5987.75 Germany
4226.5 India
3266.6 United States
3066.32 Italy
2769.84 Japan
2596.6 Spain
1023.1111111111111 Czechia
905.5454545454545 Greece
874.7272727272727 Belgium
841.6190476190476 France
644.0454545454545 Australia
591.0 Bulgaria
```

In [ ]:
cursor = conn.cursor()
myquery = "PUT YOUR QUERY HERE"
cursor.execute(myquery)
for row in cursor:
    print(row[0],row[1])

## Question 3: aggregate query 2

Get a list of countries whose Solar Energy data first started being collected in 2012. This is tricky to figure out, but the query should be pretty simple. The main thing you need to figure out is which aggregate function will find the earliest date, and then you need to test if year is 2012.


```
2012 St. Kitts-Nevis
2012 American Samoa
2012 Lithuania
2012 St. Helena and Depend.
2012 Gabon
2012 Marshall Islands
2012 New Zealand
2012 Botswana
2012 South Sudan
2012 Puerto Rico
2012 Mauritius
2012 Poland
```

In [ ]:
cursor = conn.cursor()
myquery = "PUT YOUR QUERY HERE"
cursor.execute(myquery)
for row in cursor:
    print(row[0], row[1])

## Question 4: JOIN

Get the usage of solar AND wind power for Germany for each year in the tables. There should be four columns total, and you will be joining on two criteria.

(Please note that in the results below I am using Python to add in the strings "solar:" and "wind:")



```
Germany 1991 	wind: 215.0 	solar 1.0
Germany 1992 	wind: 291.0 	solar 4.0
Germany 1993 	wind: 674.0 	solar 3.0
Germany 1994 	wind: 1428.0 	solar 7.0
Germany 1995 	wind: 1712.0 	solar 7.0
Germany 1996 	wind: 2078.0 	solar 12.0
Germany 1997 	wind: 3034.0 	solar 18.0
Germany 1998 	wind: 4593.0 	solar 35.0
Germany 1999 	wind: 5528.0 	solar 30.0
Germany 2000 	wind: 9352.0 	solar 60.0
Germany 2001 	wind: 10456.0 	solar 116.0
Germany 2002 	wind: 15856.0 	solar 188.0
Germany 2003 	wind: 18713.0 	solar 313.0
Germany 2004 	wind: 25509.0 	solar 557.0
Germany 2005 	wind: 27229.0 	solar 1282.0
Germany 2006 	wind: 30710.0 	solar 2220.0
Germany 2007 	wind: 39713.0 	solar 3075.0
Germany 2008 	wind: 40574.0 	solar 4420.0
Germany 2009 	wind: 38647.0 	solar 6584.0
Germany 2010 	wind: 37793.0 	solar 11729.0
Germany 2011 	wind: 48883.0 	solar 19599.0
Germany 2012 	wind: 50670.0 	solar 26380.0
Germany 2013 	wind: 51708.0 	solar 31010.0
Germany 2014 	wind: 57357.0 	solar 36056.0
```

Hint: after the join you need to test that the country is Germany, then order by what?

In [ ]:
cursor = conn.cursor()
myquery = '''
PUT YOUR QUERY HERE
'''
cursor.execute(myquery)
for row in cursor:
    print(row[0],row[1],"\twind:",row[2],"\tsolar",row[3])

## Question 5: join with aggregates

Get the average wind usage and solar usage for each country. Order your results by average solar usage, and show only the top ten countries.

```
China 148637.50 10376.50
Germany 21780.12 5987.75
India 30320.00 4226.50
United States 40094.68 3266.60
Italy 3619.20 3066.32
Japan 1547.36 2769.84
Spain 17676.88 2596.60
Czechia 312.56 1023.11
Greece 2581.45 905.55
Belgium 1592.27 874.73
```

In [ ]:
cursor = conn.cursor()
myquery = '''
PUT YOUR QUERY HERE
'''
cursor.execute(myquery)
for row in cursor:
    print(row[0],"%.2f" % row[1],"%.2f" % row[2])

## Question 5: join with aggregates

Your final task: go back to the [UN data site](http://data.un.org/Explorer.aspx) and download another table of your choice from the energy statistics. [Full instructions here.](http://floatingmedia.com/columbia/csv_to_sql.html) Choose a table that has similar columns to the wind and energy tables, and input it into your database.  Make sure you test that everything is working in the shell before going back to Python.

Now, write a query that joins the third table to the query you just made. Get the average use for each Energy type: Solar, Wind, and the table you chose. Order it by the energy type you chose (that column should come first after the country). And display the top 10 countries by average Energy type, along with the averages for solar and wind.

In [ ]:
cursor = conn.cursor()
myquery = '''
PUT YOUR QUERY HERE
'''
cursor.execute(myquery)
for row in cursor:
    print(row[0],"%.2f" % row[1],"%.2f" % row[2],"%.2f" % row[3])

Awesome! Great work.